.profileCard {
    border: 2px solid #504f4f;
    border-radius: 5px;
    gap: 14px;
    max-width: 320px;
    padding: 20px 0 0;
    margin: 0 auto 50px
}

.avatar {
    border-radius: 25%;
    margin: 0 auto 15px;
    max-width: 120px;
    max-height: 120px;
    background-color: #a5a5a5;
}

.name {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #000;
}

.tag,
.location {
    font-size: 16px;
    margin: 0 0 5px;
    color: #a2a2a2;
}

.statsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    border-top: 2px solid #585858;
}

.statsItem {
    flex-basis: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 0 5px;
    background-color: #979797;
}

.statsItem:not(:last-child) {
    border-right: 2px solid #585858;

}

.statsTitle {
    font-size: 16px;
    font-weight: 500;
}

.statsValue {
    font-size: 16px;
    font-weight: 600;
}